@import url(menu.css);
@import url(trabalhos.css);
@import url(Imagens.css);
@import url(footer.css);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

li
{
    list-style-type: none;
}

body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(26, 25, 25);
}